h1, h2, h3, h5, h6, p {
  font-family: 'Oxygen', sans-serif;
  color: #000;
 } 
body {
	padding-top: 30px;
	padding-bottom: 40px;
  overflow-x: hidden;
  padding-left: 2px;
  padding-right: 2px;
}

.navbar-nav #util {
	margin-right: 300px!important;	
}

#navbar .current a
{
    color: #58D3F7 !important;
}
.navbar-default{
  /**background:rgba(255,255,255,0.8);*/
  background: #fff;
  border-bottom:1px solid #000;
  z-index:1;
  position: fixed;
  margin-bottom: 0px;
  width: ;
  margin: 0px;
  margin-bottom: 1px;
  padding-bottom: 0px;  
}
.navbar-nav{
  font-family: 'Oxygen', sans-serif;
  font-weight:900;
  font-size:1.40em;
}
.navbar-default .navbar-nav>li {
  margin-left: ;
  padding-bottom: 2px;
  margin-top:4px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-default .navbar-nav>li {
  margin-left: -15px;
  font-size: 0.90em;
  font-weight: 300;
}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-default .navbar-nav>li {
  margin-left: 12px;
  font-weight: 900;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar-default .navbar-nav>li {
  margin-left: 40px;
  color: #677782;
  font-weight: 900;
}
}
.navbar-default .navbar-nav>li>a {
  color: #677782;
  padding-bottom: 2px;
}
.navbar-default .navbar-right>li>a {
  color:#fff;
}
.navbar-default .navbar-nav>li>a:hover{
  color: ##677782;
}
.navbar-default .navbar-nav>li>a:visited{
  color: #677782;
}
.nav>li>a>img {
  margin-top: -10px;
  padding-bottom: 0px;
}
#nav_search img {
  float: right;
  margin-top: -55px !important;
  margin-right: 1%;
}

#nav_search img {
  clear: both;
}
.buttons {
    float: left;
    margin-left: -50px;
  }
#donate {
  border: 1px solid #FE642E;
  height: 35px;
  width: 120px;
  background-color: #FE642E;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-right: -2px;
  cursor: pointer;
  }
#join {
  border: 1px solid #298A08;
  height: 35px;
  width: 120px;
  background-color: #298A08;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-left: -2px;
  cursor: pointer;
  }
@media (min-width: 768px) {
  .buttons {
    float: right;
    margin-right: 7%;
    
  }
#donate {
  border: 1px solid #FE642E;
  height: 30px;
  width: 80px;
  background-color: #FE642E;
  color: #000;
  text-align: center;
  font-size: 1em;
  display: inline-block;
  margin-right: -2px;
  cursor: pointer;
  }
#join {
  border: 1px solid #298A08;
  height: 30px;
  width: 80px;
  background-color: #298A08;
  color: #000;
  text-align: center;
  font-size: 1em;
  display: inline-block;
  margin-left: -2px;
  cursor: pointer;
  }
.navbar-form .form-control {
  border-radius: 0px;
  margin-right: -2px;
  width: 140px;
}
.btn-default {
  border-radius: 0px;
  margin-left: -2px;
}
.navbar-form {
  margin-right: 0px;
}
}
@media (min-width: 992px) {
  .buttons {
    float: right;
    margin-right: 6%;
  }
#donate {
  border: 1px solid #FE642E;
  height: 35px;
  width: 100px;
  background-color: #FE642E;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-right: -2px;
  cursor: pointer;
  }
#join {
  border: 1px solid #298A08;
  height: 35px;
  width: 100px;
  background-color: #298A08;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-left: -2px;
  cursor: pointer;
  }
.navbar-form .form-control {
  border-radius: 0px;
  margin-right: -2px;
  width: 140px;
}
.btn-default {
  border-radius: 0px;
  margin-left: -2px;
}
.navbar-form {
  margin-right: 4%;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .buttons {  
  float: right;
  margin-right: 5%;
  display: inline;
  }
#donate {
  border: 1px solid #FE642E;
  height: 35px;
  width: 120px;
  background-color: #FE642E;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-right: -2px;
  cursor: pointer;
  }
#join {
  border: 1px solid #298A08;
  height: 35px;
  width: 120px;
  background-color: #298A08;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-left: -2px;
  cursor: pointer;
  }
.navbar-form .form-control {
  border-radius: 0px;
  margin-right: -2px;
}
.btn-default {
  border-radius: 0px;
  margin-left: -2px;
}
.navbar-form {
  margin-right: 4%;
}
}
#join:hover {
  background-color: #04B404;
}
#donate:hover {
  background-color: #FA8258;
}
footer {
  border-top:1px solid #fff;
  bottom: 0;
  height: auto;
  left: 0;
  font-size: small;
  width:100%;
  background-color:#151515;
  margin-bottom: -40px;
  padding-bottom: 0px;
}
footer p{
  text-align:center;
  font-family:'Open Sans',sans-serif;
  font-size:13px;
  color:#FF8000;
  padding-top:30px;
  padding-bottom:30px;
}
footer p.text-muted {
  color: #fff;
}
#change .navbar {
  position: fixed;
  width: 100%;
}

block {
  padding-top: 15px;
}
util_button {
  font-family: 'Oxygen', sans-serif;
  font-weight:300;
  font-size:1.40em;
  color: #fff;
  list-style-type: none;
  float: right;
  margin-top: 10px;
}
util_button:hover {
  display: none;
}

.featurette-heading {
  margin-top: 0px;
  font-size: 2.70em;
}
#cli_heading .featurette-heading {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 80px;
}
#cli_heading span:before, #cli_heading span:after {
  content: '';
  display: block;
  height: 4px;
  position: relative;
  width: 19em;
  background: #D8D8D8;
  left: 0;
  margin: auto;
  right: 0;
}
#cli_heading span:before {
  top: -30px;
}
#cli_heading span:after {
  bottom: 0;
  top: 30px;
}
#cli_heading_2 {
  text-align: center;

  margin-top: 80px;
  margin-bottom: 120px;
}
#cli_heading_2 span:before, #cli_heading_2 span:after {
  content: '';
  display: block;
  height: 4px;
  position: relative;
  width: 19em;
  background: #D8D8D8;
  left: 0;
  margin: auto;
  right: 0;
}
#cli_heading_2 span:before {
  top: -30px;
}
#cli_heading_2 span:after {
  bottom: 0;
  top: 30px;
}
#cli_heading_3 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 120px;
}
#cli_heading_3 span:before, #cli_heading_3 span:after {
  content: '';
  display: block;
  height: 4px;
  position: relative;
  width: 19em;
  background: #D8D8D8;
  left: 0;
  margin: auto;
  right: 0;
}
#cli_heading_3 span:before {
  top: -30px;
}
#cli_heading_3 span:after {
  bottom: 0;
  top: 30px;
}
#cli_heading_4 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 120px;
}
#cli_heading_4 span:before, #cli_heading_4 span:after {
  content: '';
  display: block;
  height: 4px;
  position: relative;
  width: 19em;
  background: #D8D8D8;
  left: 0;
  margin: auto;
  right: 0;
}
#cli_heading_4 span:before {
  top: -30px;
}
#cli_heading_4 span:after {
  bottom: 0;
  top: 30px;
}
.btn-primary, .btn-warning, .btn-success {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 75px;
}
#clichange_section img {
  margin-top: 60px;
}
#turtles_nesting img {
  margin-top: -0px;
}
#ice_pic {
  height: 300px;
  background-image: url("../img/arctic-ice-melt940.jpg");
  background-size:contain;
  background-attachment: fixed;
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
#cli_text h1 {
  position: static;
  z-index: 1;
  text-align: center;
  margin-top: -260px;
  margin-bottom: 260px;
  color: #fff;
  font-size: 4em;
  width: 100%;
  -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000;
   -moz-text-fill-color: #fff;
  -o-text-fill-color: #fff; 
  -moz-text-stroke-color: #000;
  -o-text-stroke-color: #000;
  -moz-text-stroke-width: 1px;
  -o-text-stroke-width: 1px;
}
@media (min-width: 768px) {
#ice_pic {
 height: 400px;
  background-image: url("../img/arctic-ice-melt940.jpg");
  background-size:contain;
  background-attachment: fixed;
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
#cli_text h1 {
  position: static;
  z-index: 1;
  text-align: center;
  margin-top: -360px;
  margin-bottom: 360px;
  color: #fff;
  font-size: 6em;
  width: 100%;
  -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000;
   -moz-text-fill-color: #fff;
  -o-text-fill-color: #fff; 
  -moz-text-stroke-color: #000;
  -o-text-stroke-color: #000;
  -moz-text-stroke-width: 1px;
  -o-text-stroke-width: 1px;
}
}
@media (min-width: 992px) {
  #ice_pic {
    height: 400px;
  background-image: url("../img/arctic-ice-melt1_lg.jpg");
  background-size:contain;
  background-attachment: fixed;
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
#cli_text h1 {
  position: static;
  z-index: 1;
  text-align: center;
  margin-top: -360px;
  margin-bottom: 360px;
  color: #fff;
  font-size: 7em;
  width: 100%;
  -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000;
   -moz-text-fill-color: #fff;
  -o-text-fill-color: #fff; 
  -moz-text-stroke-color: #000;
  -o-text-stroke-color: #000;
  -moz-text-stroke-width: 1px;
  -o-text-stroke-width: 1px;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #ice_pic {
    height: 500px;
  background-image: url("../img/arctic-ice-melt1_lg.jpg");
  background-size:contain;
  background-attachment: fixed;
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
#cli_text h1 {
  position: static;
  z-index: 1;
  text-align: center;
  margin-top: -460px;
  margin-bottom: 460px;
  color: #fff;
  font-size: 8em;
  width: 100%;
  -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000;
   -moz-text-fill-color: #fff;
  -o-text-fill-color: #fff; 
  -moz-text-stroke-color: #000;
  -o-text-stroke-color: #000;
  -moz-text-stroke-width: 1px;
  -o-text-stroke-width: 1px;
}
}


iframe, object, embed {max-width: 100%;}

#overfish_pic {
  width: 100%;
  height: 500px;
  padding-top: 0;
  margin-top: -70px;
  background-image: url("../img/overfishing.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
}
/***** MODAL PROPERTIES *****/
 .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.10);
    border:none;
    outline:none;
}
.modal-content iframe {
    border:none;
    padding:0;
    margin:0;
}

/***** MEDIA QUERIES *****/
 @media only screen and (max-width: 641px) {
    /***** MODAL PROPERTIES *****/
    .modal-body {
        height:100px;
        padding:0;
        margin: 0;
    }
    .modal-content {
        padding:0;
        margin: 0;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 15px;
    }
    
}
@media only screen and (min-width: 768px) {
    /***** MODAL PROPERTIES *****/   
}
#mapdiv {
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {  
#donation_modal .modal-dialog  {
    width: 900px;
  }
}
#myModal .modal-dialog  {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}
/*Donation style*/
#donation_modal .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: url("../img/blue_wave_960.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border:none;
    outline:none;
  }
#donation_modal .modal-content .donation_list li {
  display: inline-block;
  height: 
  width: px;
  margin-left: 3%;

}
/*.modal-content .donation_list li:hover {
  height: 35px;
  width: 65px;
  background-color: #A9F5F2;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}*/
#donation_modal .modal-content .donation_list h3 {
  margin-left: 3%;
}
#donation_modal .modal-body h1 {
    text-align: center;
   -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #fff;
   font-weight: bold;
}
#donation_modal .modal-body p {
  text-align: left;
  font-size: 1.50em;
  -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #fff;
   font-weight: bold;
}
#donation_modal .modal-body h2 {
  text-align: left;
  -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #fff;
   font-weight: bold;
}
#turtle_pic {
  height: 500px;
  margin-top: -80px;
  background-image: url("../img/sea_turtle.jpg");
  background-size:contain;
  background-attachment: fixed;
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}