body {
  overflow-x: hidden;
}
 
 h1, h2, h3, h5, h6, p {
  font-family: 'Oxygen', sans-serif;
  color: #000;
  font-weight: normal;
 } 
.jumbotron {
  background-color: #fff;
}
.jumbotron h1, p, img {
  color: #000;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  section>.jumbotron {
  background-image: url('../img/38.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
}
@media (min-width: 992px) {
  section>.jumbotron {
  background-image: url('../img/38.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  section>.jumbotron {
  background-image: url('../img/38.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
}
.img-responsive {
        height:auto;
        width:30%;
    }
/* Navbar style */
.navbar-default{
  /**background:rgba(255,255,255,0.8);*/
  background: #fff;
  border-bottom:1px solid #000;
  z-index:1;
  position: fixed;
  margin-bottom: 0px;
  width: ;
  margin: 0px;
  margin-bottom: 1px;
  padding-bottom: 0px;  
}
.navbar-nav{
  font-family: 'Oxygen', sans-serif;
  font-weight: normal;
  font-size:2em;
  display: inline !important;
  margin-left: 3% !important;
}
.navbar-nav img {
  margin-top: -10px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-nav>li {
  margin-left: 0px;
  padding-bottom: 10px;
  margin-top:4px;
  
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav>li {
  margin-left: 20px;
  padding-bottom: 10px;
  margin-top:4px;
}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-default .navbar-nav>li {
  margin-left: 20px;
  padding-bottom: 10px;
  margin-top:4px;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar-default .navbar-nav>li {
  margin-left: 20px;
  padding-bottom: 10px;
  margin-top:4px;
}
}
.navbar-default .navbar-nav>li,.active {
  border-radius:px
}
.navbar-default .navbar-nav>li>a {
  color: #677782;
}
.navbar-default .navbar-right>li>a {
  color: #677782;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-right>li>a:hover {
  margin-top: 0px;
  color: #58D3F7;
}
#brand img {
  height: 60px;
  width: 60px;
  position: relative;
  margin-top: 0px !important;
  margin-left: 50% !important;
  border: 0px solid #58D3F7;
}
#brand img {
  margin: 0;
  padding: 0;
  }
#nav_search img {
  float: right;
  margin-top: -60px !important;
  margin-right: 1%;
}

#nav_search img {
  clear: both;
}

.buttons {
    float: left ;
    margin-left: -30px !important;
  }
#donate {
  border: 1px solid #FE642E;
  height: 35px;
  width: 120px;
  background-color: #FE642E;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-right: -2px;
  cursor: pointer;
  }
#join {
  border: 1px solid #298A08;
  height: 35px;
  width: 120px;
  background-color: #298A08;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-left: -2px;
  cursor: pointer;
  }
@media (min-width: 768px) {
  .buttons {
    float: right;
    margin-right: 7%;
    
  }
#donate {
  border: 1px solid #FE642E;
  height: 35px;
  width: 90px;
  background-color: #FE642E;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-right: -2px;
  cursor: pointer;
  }
#join {
  border: 1px solid #298A08;
  height: 35px;
  width: 90px;
  background-color: #298A08;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-left: -2px;
  cursor: pointer;
  }
.navbar-form .form-control {
  border-radius: 0px;
  margin-right: -2px;
  width: 140px;
}
.btn-default {
  border-radius: 0px;
  margin-left: -2px;
}
.navbar-form {
  margin-right: 3% !important;
}

}
@media (min-width: 992px) {
  .buttons {
    float: right;
    margin-right: 6%;
  }
#donate {
  border: 1px solid #FE642E;
  height: 35px;
  width: 120px;
  background-color: #FE642E;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-right: -2px;
  cursor: pointer;
  }
#join {
  border: 1px solid #298A08;
  height: 35px;
  width: 120px;
  background-color: #298A08;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-left: -2px;
  cursor: pointer;
  }
.navbar-form .form-control {
  border-radius: 0px;
  margin-right: -2px;
  width: 140px;
}
.btn-default {
  border-radius: 0px;
  margin-left: -2px;
}
.navbar-form {
  margin-right: 5% !important;
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .buttons {  
  float: right;
  margin-right: 5%;
  display: inline;
  }
#donate {
  border: 1px solid #FE642E;
  height: 35px;
  width: 120px;
  background-color: #FE642E;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-right: -2px;
  cursor: pointer;
  }
#join {
  border: 1px solid #298A08;
  height: 35px;
  width: 120px;
  background-color: #298A08;
  color: #000;
  text-align: center;
  font-size: 1.50em;
  display: inline-block;
  margin-left: -2px;
  cursor: pointer;
  }
.navbar-form .form-control {
  border-radius: 0px;
  margin-right: -2px;
  width: 100%;
}
.btn-default {
  border-radius: 0px;
  margin-left: -2px;
}
.navbar-form {
  margin-right: 4% !important;
}

}
#join:hover {
  background-color: #04B404;
}
#donate:hover {
  background-color: #FA8258;
}
/*End of navbar css*/

/* Fliiping Circles */
.circle:first-child {
  border-top-width: 25px;
}
@media (min-width: 48em) {
  .circle {
    border: 0;
    display: inline-block;
    margin: 5% 0;
    padding: 0;
    position: relative;
    height: 0;
    padding-top: 33.33333%;
    width: 33.33333%;
  }
  .navbar-form {
    margin-right: 1.60%;
  }
  .circle .circle__first {
    display: block;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    margin: 0;
    padding: 0;
  }
  .circle:nth-child(odd) {
    clear: left;
    float: left;
    margin-left: 10%;
  }
  .circle:nth-child(even) {
    clear: right;
    float: right;
    margin-right: 10%;
  }
}
.circle {
  margin: 2.5% 5%;
}

@media (min-width: 48em) {
  .circle__first {
    margin: auto;
  }
}
/* @end */
/* @group circle text */
.circle__title {
  background-color: rgba(255, 255, 255, 0.10);
}
@media (min-width: 48em) {
  .circle__title {
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    padding-top: 18%;
  }
}

}
.circle__title {
}
.circle__title h3 {
  background-size: auto 1.5em;
  font-size: 1.5em;
  padding-top: 2.08333em;
  text-align: center;
}
.circle__title span {
  display: block;
  font-size: 1.16667em;
  margin: .5em 0 0;
  padding: .5em 0 .6em;
  position: relative;
  text-transform:;
  width: 100%;
  text-align: center;
}
.circle__title span:before, .circle__title span:after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 7em;
  background: #fff;
  left: 0;
  margin: auto;
  right: 0;
}
.circle__title span:before {
  top: 0;
}
.circle__title span:after {
  bottom: 0;
}
@media (min-width: 48em) {
  #jumbo1 p,
  .circle__title span {
    font-size: 1em;
    position: absolute;
  }
  .circle__title span:before, .circle__title span:after {
    width: 5em;
  }
}
@media (min-width: 60em) {
  #jumbo1 p,
  .circle__title span {
    font-size: 1.33333em;
  }
}
@media (min-width: 75em) {
  #jumbo1 p,
  .circle__title span {
    font-size: 1.75em;
    font-weight: normal;
  }
}
#jumbo1 p {
  font-weight: 100;
  text-align: center;
}
@media (min-width: 48em) {
  .circle__second_1 {
    border-radius: 50%;
    margin: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #677782;
    padding: 15% 7%;
  }
  .circle__second_2 {
    border-radius: 50%;
    margin: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #0f95d3;
    padding: 15% 7%;
  }
  .circle__second_3 {
    border-radius: 50%;
    margin: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #dc662b;
    padding: 15% 7%;
  }
  .circle__second_4 {
    border-radius: 50%;
    margin: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #4ba947;
    padding: 15% 7%;
  }
}

@media (min-width: 60em) {
  .circle__second {
    padding: 15% 13%;
  }
}

.circle__second__title {
  display: none;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1em;
  padding-top: 1em;
}
@media (min-width: 48em) {
  .circle__second__title {
    display: block;
    font-size: 1em;
    margin: 0 1.8em;
  }
}
@media (min-width: 60em) {
  .circle__second__title {
    font-size: 2em;
    margin:;
  }
}

.circle__second__text {
  color: #000;
}
@media (min-width: 48em) {
.circle__second__text {
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
@media (min-width: 60em) {
  .circle__second__text {
    font-size: 1.25em;
    line-height: 1.5;
  }
}
@media (min-width: 75em) {
  .circle__second__text {
    font-size: 1.5em;
    line-height: 1.5;
  }
}

/* @end */
/* @group 3d circle flip */
@media (min-width: 48em) {
  .circle {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    position: relative;
  }

  .circle__first {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
  }

  .circle__title,
  .circle__second_1,
  .circle__second_2,
  .circle__second_3,
  .circle__second_4 {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .circle__second_1,
  .circle__second_2,
  .circle__second_3,
  .circle__second_4 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .circle:focus .circle__first,
  .circle:hover .circle__first {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
.ie10 .circle__first {
  transition: none;
}
.ie10 .circle__title,
.ie10 .circle__second {
  transition: transform .5s ease-in-out;
}
.ie10 .circle:hover .circle__first {
  transform: rotate(0deg);
}
.ie10 .circle:hover .circle__first .circle__title,
.ie10 .circle:hover .circle__first .circle__second {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.no-csstransforms3d .circle__second {
  display: none;
}
.no-csstransforms3d .circle:hover .circle__first,
.no-csstransforms3d .circle:hover .circle__second {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.no-csstransforms3d .circle:hover .circle__title {
  display: none;
}
.no-csstransforms3d .circle:hover .circle__second {
  display: block;
}
/* @end */

/* @end */
/* @end of Flipping Circles*/
#jumbotron2 img {
  height: %;
  width: 80%;
  padding-bottom: 20px;
}
footer {
  border-top:1px solid #fff;
  bottom: 0;
  height: auto;
  left: 0;
  font-size: small;
  width:100%;
  background-color:#151515;
  margin-bottom: 0px;
}
footer p{
  text-align:center;
  font-family:'Open Sans',sans-serif;
  font-size:13px;
  color:#FF8000;
  padding-top:30px;
  padding-bottom:30px;
}
footer p.text-muted {
  color: #fff;
}
.media_icons {
  width: 20px;
}
.media_icons img {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: -50px;
}
.media_icons {
  margin-top: 60px;
}
.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: url("../img/blue_wave_960.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border:none;
    outline:none;
  }
@media screen and (min-width: 768px) {  
  #myModal_donate .modal-dialog  {
    width: 900px;
  }
}
#myModal_donate .modal-dialog  {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}
/*Donation style*/
/*.modal-content .donation_list li {
  border: 1px solid #fff;
  display: inline-block;
  height: 30px;
  width: 60px;
  padding: 5px 0 0 2px;
  background-color: #58D3F7;
  margin-left: 3%;
  border-radius: 5px;
  text-align: center;
}*/
.modal-content .donation_list li {
  display: inline-block;
  height: 
  width: px;
  margin-left: 3%;

}
/*.modal-content .donation_list li:hover {
  height: 35px;
  width: 65px;
  background-color: #A9F5F2;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}*/
.modal-content .donation_list h3 {
  margin-left: 3%;
}
.modal-body h1 {
    text-align: center;
   -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #fff;
   -moz-text-fill-color: #000;
  -o-text-fill-color: #000; 
  -moz-text-stroke-color: #fff;
  -o-text-stroke-color: #fff;
  -moz-text-stroke-width: 1px;
  -o-text-stroke-width: 1px;
   font-weight: bold;
}
.modal-body p {
  text-align: left;
  font-size: 1.50em;
  -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #fff;
   -moz-text-fill-color: #000;
  -o-text-fill-color: #000; 
  -moz-text-stroke-color: #fff;
  -o-text-stroke-color: #fff;
  -moz-text-stroke-width: 1px;
  -o-text-stroke-width: 1px;
   font-weight: bold;
}
.modal-body h2 {
  text-align: left;
  -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #fff;
   -moz-text-fill-color: #000;
  -o-text-fill-color: #000; 
  -moz-text-stroke-color: #fff;
  -o-text-stroke-color: #fff;
  -moz-text-stroke-width: 1px;
  -o-text-stroke-width: 1px;
  font-weight: bold;
}
#donate_pay {
  mar
}